@media (max-width: 1212px) {
  .card_gb {
    margin-left: 380px;
  }
  .mn_c {
    display: block;
  }
  .card {
    width: 376px;
    margin-bottom: 40px;
  }
  html,
  body {
    background-color: #5c5c5c;
  }
  .tt_main > a {
    text-decoration: none;
    color: white;
    margin-right: 24px;
  }
  .tt_main > a:focus::before, .mn_text::before {
    content: "";
    width: 98.1px;
    height: 4px;
    background-color: lightgreen;
    position: absolute;
    top: 28.9px;
    z-index: 1;
  }
  .tt_gph {
	margin-right: 14px;
  }
}
